.breadcrumb-item {
  display: flex;

  & + .breadcrumb-item::before {
    content: "/";
    padding: 0 12px;
    color: $neutral-300;
    font-weight: 700;
  }

  @media (max-width: 992px) {
    font-size: 14px;

    & + .breadcrumb-item::before {
      padding: 0 8px;
    }
  }
}
