.header {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 152px 0;
}
.logo {
  margin-left: 200px;

  .btn {
    padding: 12px 24px;
  }
}
@media (max-width: 767px) {
  .header {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-sm.png?raw=true");
    text-align: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 140px 0;
    .logo {
      margin-left: 24px;
    }
  }
}
.product {
  position: relative;
  .hot {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-100;
    color: $primary-400;
    padding: 8px 12px;
  }
}

@media (max-width: 767px) {
  .product-md-row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .product-md-col {
    min-width: 316px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.banner {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
  .star-img {
    position: absolute;
    width: 48px;
    height: auto;
    top: 68px;
    left: calc(50% - 397px);
  }
  .sparkle-img {
    position: absolute;
    width: 76px;
    bottom: 132px;
    right: calc(50% - 357px);
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 64px 0;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded-sm.png?raw=true);
    overflow: hidden;
    .star-img {
      position: absolute;
      width: 48px;
      height: auto;
      top: 32px;
      left: -20px;
    }
    .sparkle-img {
      bottom: 104px;
      right: -28px;
    }
  }
}

.category {
  position: relative;
  &-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.inspiration {
  &-row {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
  }
  &-col-4 {
    width: calc(100% / 12 * 4);
    padding: 4px;
  }
  &-col-6 {
    width: calc(100% / 12 * 6);
    padding: 4px;
  }
  &-col-12 {
    width: 100%;
    padding: 4px;
  }
}
@media (max-width: 767px) {
  .inspiration-row {
    flex-wrap: nowrap;
    margin: 0 -8px;

    .inspiration-col-4,
    .inspiration-col-6,
    .inspiration-col-12 {
      width: unset;
      padding: 0 8px;
      min-width: 300px;
    }
  }
}
