<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />

    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <header class="header">
      <div class="logo">
        <h1 class="display1 text-on-dark mb-16 mb-md-8 display2-md">
          URBNSTEP
        </h1>
        <p class="h3 text-on-dark mb-48 h5-md mb-md-32">
          Your Step, Your Statement
        </p>
        <button type="button" class="btn btn-primary">立即選購</button>
      </div>
    </header>
    <main>
      <section class="container py-64 py-md-40">
        <div class="row">
          <div class="col-12 text-center mb-32">
            <h2 class="display2 mb-12 mb-md-8 h2-md">New Arrival</h2>
            <p class="h2 mb-32 mb-md-24 h4-md">新品上市</p>
          </div>
          <div class="col-6 mb-40 mb-md-24">
            <div>
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true"
                alt=""
                class="mb-12 mb-md-8"
              />
              <h3 class="h5 mb-4">Monoverse</h3>
              <p>NT$3,600</p>
            </div>
          </div>
          <div class="col-6 mb-40 mb-md-24">
            <div>
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true"
                alt=""
                class="mb-12 mb-md-8"
              />
              <h3 class="h5 mb-4">PLATFORM 404</h3>
              <p>NT$2,600</p>
            </div>
          </div>
          <div class="col-6">
            <div>
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true"
                alt=""
                class="mb-12 mb-md-8"
              />
              <h3 class="h5 mb-4">URBN Force</h3>
              <p>NT$3,200</p>
            </div>
          </div>
          <div class="col-6">
            <div>
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true"
                alt=""
                class="mb-12 mb-md-8"
              />
              <h3 class="h5 mb-4">Mode90</h3>
              <p>NT$4,000</p>
            </div>
          </div>
        </div>
      </section>
      <section class="container py-64 py-md-40">
        <h3 class="h2 mb-20">熱銷補貨</h3>
        <div class="row product-md-row flex-md-wrap-no overflow-x-auto">
          <div class="col-3 product-md-col">
            <div class="product">
              <div class="hot">人氣 No.1</div>
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-3.png"
                alt="product-3"
              />
            </div>
          </div>
          <div class="col-3 product-md-col">
            <div class="product">
              <div class="hot">人氣 No.1</div>
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product.png"
                alt="product"
              />
            </div>
          </div>
          <div class="col-3 product-md-col">
            <div class="product">
              <div class="hot">人氣 No.1</div>
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png"
                alt="product-6"
              />
            </div>
          </div>
          <div class="col-3 product-md-col">
            <div class="product">
              <div class="hot">人氣 No.1</div>
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-4.png"
                alt="product-4"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="banner text-center py-48 py-md-24">
        <h3 class="display2 text-on-dark mb-16 h2-md d-md-flex flex-md-column">
          <span> URBNSTEP</span>
          <span class="text-midlight h3-md">x</span>
          <span>Kevin Chen </span>
        </h3>
        <p class="h2 text-on-dark mb-32 h5-md">跨界聯名，限量發售</p>
        <p class="text-lg text-muted mb-48 d-md-flex flex-md-column">
          <span>新銳漫畫家 Kevin Chen 親自操刀設計</span
          ><span class="d-md-no">，</span><span>街頭能量全面引爆！</span>
        </p>
        <button type="button" class="btn btn-primary">立即搶購</button>
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week3-4/star.svg"
          alt="star"
          class="star-img"
        />
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week3-4/sparkle.svg"
          alt="sparkle"
          class="sparkle-img"
        />
      </section>
      <section class="container py-64 py-md-40">
        <h3 class="h2 mb-20">依系列選購</h3>
        <div class="row">
          <div class="col-3 col-md-2 mb-md-12">
            <div class="category">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png"
                alt="URBN RUNNER"
              />
              <div class="category-text">
                <h4 class="h3 text-on-dark h6-md">URBN RUNNER</h4>
                <p class="h4 text-on-dark h6-md">慢跑系列</p>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-2 mb-md-12">
            <div class="category">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-11.png?raw=true"
                alt="STREETMODE"
              />
              <div class="category-text">
                <h4 class="h3 text-on-dark h6-md">STREETMODE</h4>
                <p class="h4 text-on-dark h6-md">滑板系列</p>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-2">
            <div class="category">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-4.png"
                alt="CHUNK DISTRICT"
              />
              <div class="category-text">
                <h4 class="h3 text-on-dark h6-md">CHUNK DISTRICT</h4>
                <p class="h4 text-on-dark h6-md">厚底系列</p>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-2">
            <div class="category">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-10.png?raw=true"
                alt="COLLAB ZONE"
              />
              <div class="category-text">
                <h4 class="h3 text-on-dark h6-md">COLLAB ZONE</h4>
                <p class="h4 text-on-dark h6-md">聯名企劃</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container py-64 py-md-40">
        <h3 class="h2 mb-20">穿搭靈感</h3>
        <div class="inspiration-row overflow-x-auto">
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-1.png?raw=true"
                  alt=""
                />
              </div>
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-2.png?raw=true"
                  alt=""
                />
              </div>
              <div class="inspiration-col-12">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-3.png?raw=true"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-4.png?raw=true"
                  alt="inspiration-4"
                />
              </div>
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-5.png?raw=true"
                  alt="inspiration-5"
                />
              </div>
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-6.png?raw=true"
                  alt="inspiration-6"
                />
              </div>
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-7.png?raw=true"
                  alt="inspiration-7"
                />
              </div>
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-8.png?raw=true"
                  alt="inspiration-8"
                />
              </div>
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-9.png?raw=true"
                  alt="inspiration-9"
                />
              </div>
            </div>
          </div>
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-12">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-10.png?raw=true"
                  alt="inspiration-10"
                />
              </div>
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-11.png?raw=true"
                  alt="inspiration-11"
                />
              </div>
              <div class="inspiration-col-6">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-12.png?raw=true"
                  alt="inspiration-12"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="d-flex align-center justify-center bg-primary-200 py-24">
      <p class="h4 mr-24">加入會員取得 9 折優惠</p>
      <button type="button" class="btn btn-dark2">馬上註冊</button>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
